/*

http://colorbrewer2.org
-------------------------
#ffffd9
#edf8b1
#c7e9b4
#7fcdbb

-- text colors starting here

#41b6c4
#1d91c0
#225ea8
#253494
#081d58

*/

/*****************************************/
/* PAGE LEAD SECTION */
/*****************************************/
[class*="theme-"] {
  /*color: #FFF;*/
}

.theme-1 {
  color: #41b6c4;
  border-color: #41b6c4;
}

.theme-2 {
  color: #1d91c0;
  border-color: #1d91c0;
}

.theme-3 {
  color: #225ea8;
  border-color: #225ea8;  
}

.theme-4 {
  color: #225ea8;
  border-color: #225ea8;
}

.theme-5 {
  color: #253494;
  border-color: #253494;
}

.theme-6 {
  color: #081d58;
  border-color: #081d58;
}



/*****************************************/
/* TILE THEMES */
/*****************************************/

.tile[class*="theme-"] {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;  
}

.tile[class*="theme-"]:hover {
  box-shadow: 0px 2px 11px #bbb;
}

.tile.theme-1 {
  background-color: #c7e9b4;
}
.tile.theme-1:hover {
  color: #41b6c4;
}

.tile.theme-2 {
  background-color: #7fcdbb;
}
.tile.theme-2:hover {
  color: #1d91c0;
}

.tile.theme-3 {
  background-color: #41b6c4;
}
.tile.theme-3:hover {
  color: #225ea8;
}

.tile.theme-4 {
  background-color: #1d91c0;
}
.tile.theme-4:hover {
  color: #253494;
}

.tile.theme-5 {
  background-color: #225ea8;
}
.tile.theme-5:hover {
  color: #081d58;
}





