/*****************************************/
/* TILE THEMES */
/*****************************************/

/*.tile[class*="theme-"] {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;  
}
*/
.tile.theme-1 {
  background-color: #c7e9b4;
}

.tile.theme-2 {
  background-color: #7fcdbb;
}

.tile.theme-3 {
  background-color: #41b6c4;
}

.tile.theme-4 {
  background-color: #1d91c0;
}

.tile.theme-5 {
  background-color: #225ea8;
}



/*****************************************/
/* TILES */
/*****************************************/
.tile-wrap {
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;  
}

.tile-wrap:hover {
  opacity: .5;
}

.tile-wrap.tile-wrap--nohover {
  cursor: inherit;
  opacity: 1;
}

.tile {
  min-height: 120px;
  width: 100%;
  position: relative;
  /*overflow: hidden;*/
  margin-bottom: 12px;
  color: #FFF;
}

.tile-title-fill {
  height: 33px;
}

.tile a {
  color: inherit;
  min-height: 100%;
  min-width: 100%;
}

.tile:hover a {
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .tile {
    min-height: 100px;
  }
}
@media screen and (max-width: 640px) {
  .tile {
    min-height: 100px;
  }
}




/*****************************************/
/* TILE - NAME */
/*****************************************/
.tile--name {
  color: #FFF;
}

.name {
  position: absolute;
  bottom: -14px;
  left: -5px;
}

@media screen and (max-width: 960px) {
  .name {
    top: 50%;
    left: -6px;
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 640px) {
  .name {
    position: relative;
    bottom: 0;
    left: -10px;
    transform: translateY(0%); 
  }
}






/*****************************************/
/* TILE - Statement */
/*****************************************/
.tile--statement {
  
}

.tile--statement .fa-puzzle-piece {
  font-size: 78px;
}

.tile--statement .puzzle-piece-1 {
  position: absolute;
  bottom: -10%;
  left: -6px;
  -webkit-transform: rotate(-18deg);
  -moz-transform:    rotate(-18deg);
  -ms-transform:     rotate(-18deg);
  -o-transform:      rotate(-18deg);
  transform:         rotate(-18deg);
}

.tile--statement .puzzle-piece-2 {
  position: absolute;
  top: -24px;
  left: 83%;
  -webkit-transform: rotate(-38deg);
  -moz-transform:    rotate(-38deg);
  -ms-transform:     rotate(-38deg);
  -o-transform:      rotate(-38deg);
  transform:         rotate(-38deg);
}

.tile--statement .puzzle-piece-3 {
  position: absolute;
  bottom: 20%;
  left: 36%;
  -webkit-transform: rotate(-71deg);
  -moz-transform:    rotate(-71deg);
  -ms-transform:     rotate(-71deg);
  -o-transform:      rotate(-71deg);
  transform:         rotate(-71deg);
}



/*****************************************/
/* TILE - CV */
/*****************************************/
.tile--cv .sign {
  font-size: 100px;
}

.tile--cv .sign {
  position: absolute;
  right: 50px;
  bottom: -12px;
  -webkit-transform: rotate(9deg);
  -moz-transform:    rotate(9deg);
  -ms-transform:     rotate(9deg);
  -o-transform:      rotate(9deg);
  transform:         rotate(9deg);
}

.tile--cv .cv-content {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  font-family: "Courier New";
  left: 10px;
  bottom: 0px;
}





/*****************************************/
/* TILE - Coming Soon */
/*****************************************/
.tile--coming-soon {

}

.tile--coming-soon .extinguisher {
  position: absolute;
  font-size: 100px;
  left: 30px;
  bottom: -12px;
  -webkit-transform: rotate(25deg);
  -moz-transform:    rotate(25deg);
  -ms-transform:     rotate(25deg);
  -o-transform:      rotate(25deg);
  transform:         rotate(25deg);
}

.tile--coming-soon .fire-1 {
  position: absolute;
  font-size: 40px;
  left: 150px;
  bottom: -12px;
}

.tile--coming-soon .fire-2 {
  position: absolute;
  font-size: 60px;
  left: 160px;
  bottom: -12px;
}

.tile--coming-soon .fire-3 {
  position: absolute;
  font-size: 40px;
  left: 190px;
  bottom: -12px;
}


