
/*****************************************/
/* TILES */
/*****************************************/
.tile-wrap {
  margin-bottom: 18px;
}

.tile {
  min-height: 110px;
  min-width: 100%;
  border-radius: 2px;
  position: relative;
  /*overflow: hidden;*/
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 6px;
  color: #FFF;
  font-family: 'Rock Salt', cursive;
}

.tile-title {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}



/*****************************************/
/* TILE - PUZZLE PIECE */
/*****************************************/
.tile--puzzle {
  
}

.tile--puzzle .fa-puzzle-piece {
  font-size: 88px;
}

.tile--puzzle .puzzle-piece-1 {
  position: absolute;
  top: 33%;
  right: 13%;
  -webkit-transform: rotate(111deg);
  -moz-transform:    rotate(111deg);
  -ms-transform:     rotate(111deg);
  -o-transform:      rotate(111deg);
  transform:         rotate(111deg);
}

.tile--puzzle .puzzle-piece-2 {
  position: absolute;
  top: -20px;
  right: -15px;
  -webkit-transform: rotate(-38deg);
  -moz-transform:    rotate(-38deg);
  -ms-transform:     rotate(-38deg);
  -o-transform:      rotate(-38deg);
  transform:         rotate(-38deg);
}



/*****************************************/
/* TILE - PAPERCLIP */
/*****************************************/
.tile--paperclip .fa-paperclip {
  font-size: 110px;
}

.tile--paperclip .paperclip-1 {
  position: absolute;
  right: -8px;
  top: -18px;
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
}










