
/*****************************************/
/* TILES */
/*****************************************/
.tile-wrap {
  /*margin-bottom: 12px;*/  
}

.tile {
  min-height: 150px;
  width: 100%;
  border-radius: 2px;
  position: relative;
  /*overflow: hidden;*/
  cursor: pointer;
  margin-bottom: 18px;
  margin-top: 12px;
  color: #FFF;
}

/*.tile:hover {
  overflow: visible;
}*/

.tile a {
  color: inherit;
  min-height: 100%;
  min-width: 100%;
  background-color: red;
}

.tile:hover a {
  opacity: 1;
}

.tile-title {
  position: absolute;
  /*left: 2%;
  top: 50%;
  transform: translateY(-50%);*/
  bottom: -10px;
  left: 2%;
  /*font-family: 'permanent_markerregular';*/
}



/*****************************************/
/* TILE - PUZZLE PIECE */
/*****************************************/
.tile--puzzle {
  
}

.tile--puzzle .fa-puzzle-piece {
  font-size: 72px;
}

.tile--puzzle .puzzle-piece-1 {
  position: absolute;
  bottom: -10px;
  left: 0px;
  -webkit-transform: rotate(-18deg);
  -moz-transform:    rotate(-18deg);
  -ms-transform:     rotate(-18deg);
  -o-transform:      rotate(-18deg);
  transform:         rotate(-18deg);
}

.tile--puzzle .puzzle-piece-2 {
  position: absolute;
  top: -20px;
  left: 118px;
  -webkit-transform: rotate(-38deg);
  -moz-transform:    rotate(-38deg);
  -ms-transform:     rotate(-38deg);
  -o-transform:      rotate(-38deg);
  transform:         rotate(-38deg);
}

.tile--puzzle .puzzle-piece-3 {
  position: absolute;
  top: 20px;
  left: 35px;
  -webkit-transform: rotate(-71deg);
  -moz-transform:    rotate(-71deg);
  -ms-transform:     rotate(-71deg);
  -o-transform:      rotate(-71deg);
  transform:         rotate(-71deg);
}



/*****************************************/
/* TILE - PAPERCLIP */
/*****************************************/
.tile--paperclip .fa-paperclip {
  font-size: 94px;
}

.tile--paperclip .paperclip-1 {
  position: absolute;
  right: -13px;
  top: -14px;
  -webkit-transform: rotate(-109deg);
  -moz-transform:    rotate(-109deg);
  -ms-transform:     rotate(-109deg);
  -o-transform:      rotate(-109deg);
  transform:         rotate(-109deg);
}










