h1 {
  font-size: 52px;
  letter-spacing: 1.4px;
  padding-bottom: 10px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
  letter-spacing: 1.12px;
  padding-bottom: 12px;
}

h5 {
  font-size: 18px;
  font-weight: 300;
}

p {
  font-weight: 300;
  max-width: 625px;
  line-height: 1.44em;
}

a {
  color: #7fcdbb;
  text-decoration: none;
  border-bottom: 1px dashed #7fcdbb;
  padding-bottom: 2px;
}
a:hover {
  color: #41b6c4;
  border-bottom: 1px dashed #41b6c4;
}

blockquote {
  font-style: italic;
  line-height: 1.66em;
  padding-left: 12px;
  margin-bottom: 30px;
}

.f--light {
  color: #9B9BA7;
}



