h1 {
  font-size: 52px;
  letter-spacing: 1.4px;
  padding-bottom: 10px;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  letter-spacing: 1.12px;
  padding-bottom: 12px;
}

h5 {
  font-size: 18px;
  font-weight: 300;
}

p {
  font-weight: 300;
  max-width: 625px;
  line-height: 1.44em;
  padding-bottom: 18px;
}

a {
  color: #1d91c0;
  text-decoration: none;
  border-bottom: 1px dashed #1d91c0;
  padding-bottom: 2px;
}
a:hover {
  color: #081d58;
  border-bottom: 1px dashed #081d58;
}

a.unstyled {
  color: #9B9BA7;
  text-decoration: none;
  border: none;
}
a.unstyled:hover {
  color: #9B9BA7;
  text-decoration: none;
  border: none;
}

blockquote {
  font-style: italic;
  line-height: 1.66em;
  padding-left: 12px;
  margin-bottom: 30px;
}


.f--light {
  color: #9B9BA7;
}

.f--small {
  font-size: 13px;
}

.f--super {
  font-size: 11px;
  vertical-align: text-bottom;
}

.f--icon {
  vertical-align: baseline;
}





