.underlined {
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 20px;
}

.fill-empty {
  min-height: 1px;
}

.relative {
  position: relative;
}

.float--right {
  float: right;
}

.pad--max {
  padding-top: 80px;
  padding-bottom: 60px;
}

.pad-top--max {
  padding-top: 80px;
}

.pad--r6 {
  padding-right: 6px;
}


.below--12 {
  margin-bottom: 12px;
}

.below--18 {
  margin-bottom: 18px;
}

.below--24 {
  margin-bottom: 24px;
}

.below--36 {
  margin-bottom: 36px;
}