.underlined {
  border-bottom: 1px solid #B0B0BB;
  margin-bottom: 30px;
}

.relative {
  position: relative;
}

.pad--max {
  padding-top: 80px;
  padding-bottom: 60px;
}

.pad-top--max {
  padding-top: 80px;
}

.pad--r6 {
  padding-right: 6px;
}


.below--12 {
  margin-bottom: 12px;
}

.below--18 {
  margin-bottom: 18px;
}

.below--24 {
  margin-bottom: 24px;
}

.below--36 {
  margin-bottom: 36px;
}